<aside class="w-64 h-screen bg-slate-900 text-white p-4 fixed">
  <h2 class="text-lg font-bold mb-6">Menu</h2>

  <nav class="flex flex-col gap-3">
    <a routerLink="/" routerLinkActive="bg-slate-700"
       class="p-2 rounded hover:bg-slate-800">
      Home
    </a>

    <a routerLink="/about" routerLinkActive="bg-slate-700"
       class="p-2 rounded hover:bg-slate-800">
      About Me
    </a>

    <a routerLink="/skills" routerLinkActive="bg-slate-700"
       class="p-2 rounded hover:bg-slate-800">
      Skills
    </a>

    <a routerLink="/tools" routerLinkActive="bg-slate-700"
       class="p-2 rounded hover:bg-slate-800">
      Tools
    </a>

    <a routerLink="/project" routerLinkActive="bg-slate-700"
       class="p-2 rounded hover:bg-slate-800">
      My Projects
    </a>

    <a routerLink="/contact" routerLinkActive="bg-slate-700"
       class="p-2 rounded hover:bg-slate-800">
      Contact
    </a>
  </nav>
</aside>
